.list-group-item {
    text-align: left;
}
.list-group-item a {
    text-decoration: none;
    color: black;
}

.list-group-item a:hover {
    text-decoration: none;
    color: green;
}
.category .list-group-item:nth-child(1){
    background-color: rgb(230, 230, 230);
}